/* ./assets/css/tailwind.css */

@import url('./fonts.css');
@tailwind base;

body {
  font-family: 'DM Sans', sans-serif;
  color: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Poppins', sans-serif;
}

input,
button,
textarea,
a {
  @apply focus:outline-none;
}

.custom-transition {
  @apply transition duration-200 ease-in-out;
}

.section-headline {
  @apply text-2xl  md:text-4xl xl:text-5xl font-bold uppercase;
}

.section-para {
  @apply text-sm lg:text-base xl:text-xl xl:leading-tight text-[#e6e7ea];
}

.section-width {
  /* @apply lg:max-w-[55rem] xl:max-w-[66rem] mx-auto px-4 mt-32 md:mt-44 xl:mt-[12.5rem]; */
  @apply lg:max-w-[55rem] xl:max-w-[66rem] mx-auto px-4 mt-20 md:mt-24 xl:mt-[7rem];
}

@tailwind components;
@tailwind utilities;
